# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Poetry
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Tests and coverage
htmlcov/
.coverage
.cache/
.pytest_cache/

# Misc
*.log
.DS_Store
